.container_receitas {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
    height: 93vh;
}

.titulo{
    margin-left: 9px;
}
.receita {
    width: 30%;
    background-color: rgb(238, 201, 50);
    padding: 10px;
}

.foto {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
}

.ingredientes{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 25px 80px;
    font-size: 18px;
}

.descricao {
    padding: 8px
}